@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ensure the body and html take full height of the screen */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: "#EDEDED";
}

/* Apply margin and padding reset to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Optional: Apply box-sizing globally */
html {
    box-sizing: border-box;
    /* object-fit: cover; */
}

::placeholder {
    color: #C2C3CB;
    opacity: 1;
    /* Firefox */
}